*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548587;
 text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   gap: 1vmin;
}

.box{
    height: 19vmin;
    width: 19vmin;
    border-radius: 1.5rem;
   border: none;
   box-shadow: 0 0 16 rgba(0, 0, 0, 0.5);
   font-size: 8vmin;
   color: #b0412e;
   cursor: pointer;
}

#reset{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
#msg{
    color: white;
    font-size: 5vmin;
}

.msg-container{
    height: 30vmin;
}

.hide{
    display: none;
}