#clock-container{
    /* border: 2px solid red; */
    height: 40vh;
    width: 20vw;
    left: 40%;
    top: 25%;padding: 10px 10px;
    position: absolute;
    background: url(image.png) no-repeat;
}

/* #hour, #minute, #seconds{
    position: absolute;
    background: black;
    border-radius: 10px;
} */

#hour{      
    left: 33.5%;
    top: 16%;
    position: absolute;
    background: black;
    border-radius: 10px;
    height: 22%;
    width: 2.5%;
    opacity: 0.8;
    transform-origin: bottom;
}

#minute{
    left: 33.5%;
    top: 14%;
    position: absolute;
    background: black;
    border-radius: 10px;
    height: 25%;    transform-origin: bottom;

    width: 1.8%; opacity: 0.8;  
}

#seconds{
    left: 34.5%;
    top: 8%;
    position: absolute;
    background: black;
    border-radius: 10px;
    height: 30%;    transform-origin: bottom;

    width: 1.3%; opacity: 0.8; 
}
